{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"jsxSingleQuote": true,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindConfig": "./tailwind.config.js",
	"importOrder": [
		"^node:.*",
		"^react$",
		"^react",
		"^next(/.*)?$",
		"<THIRD_PARTY_MODULES>",
		"^@icons(/.*)?$",
		"^@shadcn-ui(/.*)?$",
		"^@providers(/.*)?$",
		"^@services(/.*)?$",
		"^@hooks(/.*)?$",
		"^@components(/.*)?$",
		"^@types(/.*)?$",
		"^@lib/auth.*$",
		"^@lib(/.*)?$",
		"^@/.*$",
		"^\\./.*\\.css$",
		"^\\."
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": [
		"typescript",
		"jsx"
	],
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 80,
				"tabWidth": 2
			}
		}
	]
}